<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.permission.mapper.SysAclMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.permission.pojo.SysAcl">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="acl_model_id" property="aclModelId" />
        <result column="url" property="url" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="seq" property="seq" />
        <result column="remark" property="remark" />
        <result column="operator" property="operator" />
        <result column="operator_time" property="operatorTime" />
        <result column="operator_ip" property="operatorIp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, acl_model_id, url, type, status, seq, remark, operator, operator_time, operator_ip
    </sql>

</mapper>
